* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #f5f5f5;
    font-family: sans-serif
}

.container {
    padding: 0 20px;
    margin: 80px auto;
    padding: 0 20px;
    justify-content: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

h2 {
    font-size: 36px;
    margin-bottom: 48px;
}

h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

p { 
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 16px;
}
/* HER0 */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.hero-img {
    width: 70%;
    border-radius: 12px;
}


/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 40px;
}

/* TESTIMONIAL */
.testimonial {
    background-color: #087f5b;
    color: white;
    padding: 60px;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    gap: 40px;
    align-items: center;
}

.testimonial-img {
    width: 100%;
    border-radius: 12px;
}

.author {
    margin-top: 20px;
    font-weight: 600;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(3 auto);
    gap: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.card-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

.price {
    font-weight: 700;
    margin: 20px 0;
}

/* BUTTON */
.btn {
    display: inline-block;
    background-color: #087f5b;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background-color: #0ca678;
}